Repository prrpd/Sausage-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: k8s, helm

k8s:
  stage: module-pipelines
  trigger:
    include:
    - /kubernetes/.gitlab-ci.yml
    strategy: depend

helm:
  stage: module-pipelines
  trigger:
    include:
    - /sausage-store-chart/.gitlab-ci.yml
    strategy: depend

helm and nexus
  sausage-store-chart/values.yaml
Due: helm

helm and nexus
  sausage-store-chart/charts/backend/templates/secrets.yaml
Due: helm

helm and nexus
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/values.yaml
Due: helm

helm and nexus
  sausage-store-chart/.gitlab-ci.yml
Due: helm

helm and nexus
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/backend/templates/secrets.yaml
  sausage-store-chart/charts/frontend/templates/configmap.yaml
  sausage-store-chart/charts/frontend/templates/deployment.yaml
Due: helm

helm and nexus
  sausage-store-chart/sausage-store-0.1.0.tgz
  sausage-store-chart/templates/secrets.yaml
Due: helm

helm and nexus
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/charts/frontend/templates/configmap.yaml
Due: helm

helm and nexus
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: helm

helm and nexus
  sausage-store-chart/charts/backend/Chart.yaml
Due: helm

helm and nexus
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/charts/backend-report/templates/_helpers.tpl
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
  sausage-store-chart/charts/backend/templates/_helpers.tpl
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/frontend/templates/_helpers.tpl
  sausage-store-chart/charts/frontend/templates/deployment.yaml
  sausage-store-chart/templates/_helpers.tpl
Due: helm

helm and nexus
  .gitlab-ci.yml
  kubernetes/.gitlab-ci.yml
  sausage-store-chart/.gitlab-ci.yml
Due: k8s, helm

Helm
  .gitlab-ci.yml
  kubernetes/.gitlab-ci.yml
  sausage-store-0.1.0.tgz
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/.helmignore
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
  sausage-store-chart/charts/backend-report/templates/hpa.yaml
  sausage-store-chart/charts/backend/.helmignore
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/backend/templates/service.yaml
  sausage-store-chart/charts/backend/templates/vpa.yaml
  sausage-store-chart/charts/frontend/.helmignore
  sausage-store-chart/charts/frontend/Chart.yaml
  sausage-store-chart/charts/frontend/templates/configmap.yaml
  sausage-store-chart/charts/frontend/templates/deployment.yaml
  sausage-store-chart/charts/frontend/templates/ingress.yaml
  sausage-store-chart/charts/frontend/templates/service.yaml
  sausage-store-chart/templates/_helpers.tpl
  sausage-store-chart/templates/secrets.yaml
  sausage-store-chart/values.yaml
Due: k8s, helm

remove helm chart tgz
  sausage-store-0.1.0.tgz
Due: none

multicloud
  multicloud/ReadMe.txt
  multicloud/multicloud.jpg
Due: none

loki
  monitoring-tools/README.md
  monitoring-tools/alertmanager/.helmignore
  monitoring-tools/alertmanager/Chart.yaml
  monitoring-tools/alertmanager/templates/_helpers.tpl
  monitoring-tools/alertmanager/templates/configmap.yaml
  monitoring-tools/alertmanager/templates/deployment.yaml
  monitoring-tools/alertmanager/templates/ingress.yaml
  monitoring-tools/alertmanager/templates/services.yaml
  monitoring-tools/alertmanager/values.yaml
  monitoring-tools/grafana/.helmignore
  monitoring-tools/grafana/Chart.yaml
  monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  monitoring-tools/grafana/templates/_helpers.tpl
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/grafana/templates/pvc.yaml
  monitoring-tools/grafana/templates/services.yaml
  monitoring-tools/grafana/values.yaml
  monitoring-tools/loki1.jpg
  monitoring-tools/loki2.jpg
  monitoring-tools/prometheus/.dockerignore
  monitoring-tools/prometheus/.helmignore
  monitoring-tools/prometheus/Chart.yaml
  monitoring-tools/prometheus/prom-app-example.yaml
  monitoring-tools/prometheus/rules/sausage-store.yaml
  monitoring-tools/prometheus/templates/configmap.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
  monitoring-tools/prometheus/templates/rules.yaml
  monitoring-tools/prometheus/templates/services.yaml
  monitoring-tools/prometheus/values.yaml
Due: none

added metrics endpoint
  sausage-store-chart/charts/backend/Chart.yaml
Due: helm

added metrics endpoint
  .gitlab-ci.yml
Due: none

changed spring version
  sausage-store-chart/charts/backend/Chart.yaml
Due: helm

prometheus annotations
  sausage-store-chart/charts/backend/templates/deployment.yaml
Due: helm

Monitoring tools
  .gitlab-ci.yml
  monitoring-tools/README.md
  monitoring-tools/alertmanager/.helmignore
  monitoring-tools/alertmanager/Chart.yaml
  monitoring-tools/alertmanager/templates/_helpers.tpl
  monitoring-tools/alertmanager/templates/configmap.yaml
  monitoring-tools/alertmanager/templates/deployment.yaml
  monitoring-tools/alertmanager/templates/ingress.yaml
  monitoring-tools/alertmanager/templates/services.yaml
  monitoring-tools/alertmanager/values.yaml
  monitoring-tools/grafana/.helmignore
  monitoring-tools/grafana/Chart.yaml
  monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  monitoring-tools/grafana/templates/_helpers.tpl
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/grafana/templates/pvc.yaml
  monitoring-tools/grafana/templates/services.yaml
  monitoring-tools/grafana/values.yaml
  monitoring-tools/loki1.jpg
  monitoring-tools/loki2.jpg
  monitoring-tools/prometheus/.dockerignore
  monitoring-tools/prometheus/.helmignore
  monitoring-tools/prometheus/Chart.yaml
  monitoring-tools/prometheus/prom-app-example.yaml
  monitoring-tools/prometheus/rules/sausage-store.yaml
  monitoring-tools/prometheus/templates/configmap.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
  monitoring-tools/prometheus/templates/rules.yaml
  monitoring-tools/prometheus/templates/services.yaml
  monitoring-tools/prometheus/values.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
Due: helm

ya cloud monitoring
  sausage-store-chart/values.yaml
Due: helm

images
  img/app.jpg
  img/business1.jpg
  img/business2.jpg
  img/infra1.jpg
  img/infra2.jpg
  monitoring-tools/README.md
  monitoring-tools/alertmanager/.helmignore
  monitoring-tools/alertmanager/Chart.yaml
  monitoring-tools/alertmanager/templates/_helpers.tpl
  monitoring-tools/alertmanager/templates/configmap.yaml
  monitoring-tools/alertmanager/templates/deployment.yaml
  monitoring-tools/alertmanager/templates/ingress.yaml
  monitoring-tools/alertmanager/templates/services.yaml
  monitoring-tools/alertmanager/values.yaml
  monitoring-tools/grafana/.helmignore
  monitoring-tools/grafana/Chart.yaml
  monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  monitoring-tools/grafana/templates/_helpers.tpl
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/grafana/templates/pvc.yaml
  monitoring-tools/grafana/templates/services.yaml
  monitoring-tools/grafana/values.yaml
  monitoring-tools/prometheus/.dockerignore
  monitoring-tools/prometheus/.helmignore
  monitoring-tools/prometheus/Chart.yaml
  monitoring-tools/prometheus/prom-app-example.yaml
  monitoring-tools/prometheus/rules/sausage-store.yaml
  monitoring-tools/prometheus/templates/configmap.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
  monitoring-tools/prometheus/templates/rules.yaml
  monitoring-tools/prometheus/templates/services.yaml
  monitoring-tools/prometheus/values.yaml
  sausage-store-chart/values.yaml
Due: helm

Monitoring tools
  img/app.jpg
  img/business1.jpg
  img/business2.jpg
  img/infra1.jpg
  img/infra2.jpg
Due: none

notifications
  monitoring-tools/dashboards/gr-storeapp.js
  monitoring-tools/notifications/alertmanager.yaml
  monitoring-tools/notifications/notif (1).jpg
  monitoring-tools/notifications/notif (2).jpg
  monitoring-tools/notifications/notif (3).jpg
  monitoring-tools/notifications/rules.yaml
Due: none

Path conditions:
  k8s: any of: kubernetes/**/*
  helm: any of: sausage-store-chart/**/*
